<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Yritysonline</title>


  <!-- Custom styles for this template -->
  <link rel="stylesheet" type="text/css" href="https://dl.dropbox.com/s/bdnydgtbdcm5q7v/dashboard.css" />
  <!-- bootstrap CSS-->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" rel="stylesheet">
  <!-- jquery-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <!-- feather icons -->
  <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
  <!-- yritysonline -->
  <script src="https://dl.dropbox.com/s/mlbrm7dw8alvbm1/yritysonline.js"></script>
  <!-- Google charts -->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-white border-right border-primary" id="sidebar-wrapper">
      <div id="company_name_slot" class="sidebar-heading bg-primary"></div>
      <div id="sidebarlist" class="list-group list-group-flush">

      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-white bg-white">
        <ul class="navbar-nav mr-auto">
          <button class="btn btn-primary" id="menu-toggle">
            <span data-feather="chevron-left">
            </span></button>
        </ul>
        <ul class="navbar-nav ml-auto">
          <a style="font-weight: bold;" id="logout_link" class="btn btn-link" href="/force_logout">
            Logout
          </a>
        </ul>
      </nav>

      <div class="container-fluid">

        <div class="row">
          <div class="col">
            <div class="card border-primary">
              <div class="card-header ">
                <div class="d-flex justify-content-between">
                  <h5 class="mt-2" id="datatable_heading"></h5>
                  <div class="row">
                    <div class="col">
                      <button id="toggle_analysis_button" class="btn btn-primary">
                        Close
                      </button>
                    </div>
                  </div>

                </div>
              </div>
              <div class="card-body">
                <div id="card_body_div" class="row">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->


  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function (e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>
  <script src="https://dl.dropbox.com/s/at5fp2ugocy2y5k/dashboard_analysis.js">

  </script>

</body>

</html>